body {font-family: Arial, Helvetica, sans-serif;margin:50px 0 0 400px;}
form {border: 3px solid #f1f1f1;width: 500px;}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  outline: none;
}
button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
.pw{
    margin-top: 10px;
}
.container #username_error,
.container #password_error{
	width: 345px;
	font-size: 15px;
	color: #C62828;
	display: none;
}

